<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSApplicationCrashOnExceptions</key>
	<string>YES</string>
	<key>HideUnavailableTracks</key>
	<false/>
	<key>EnableMediaKeysKey</key>
	<true/>
	<key>ShowTrackChangeNotifications</key>
	<true/>
	<key>PreventIdleSleepWhenPlaying</key>
	<false/>
	<key>volume</key>
	<integer>1</integer>
	<key>shuffle</key>
	<false/>
</dict>
</plist>
